<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat App</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.min.css">
</head>

<body>
    <div class="chat">
        <div class="chat__sidebar">

        </div>
        <div class="chat__main">
            <div id="messages" class="chat__messages"></div>
            <div class="compose">
                <form id="message-form">
                    <input name="message" type="text" placeholder="Message">
                    <button>Send</button>
                </form>
                <button id="share-location">Share Location</button>
            </div>
        </div>
    </div>

    <script type="text/html" id="message-template">
        <div>
            <p>
                <span class="message__name">Some User Name</span>
            </p>
            <p>{{message}}</p>
        </div>
    </script>
    <script type="text/html" id="location-template">
        <div>
            <p>
                <span class="message__name">Some User Name</span>
            </p>
            <a href={{message}}>This is my Location</a>
        </div>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
</body>

</html>